<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1234},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_DB_paixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{352,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,524}}</string>
                <key>sourceSize</key>
                <string>{352,524}</string>
            </dict>
            <key>UI_FXAN_bangzhu_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1271},{267,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{267,87}}</string>
                <key>sourceSize</key>
                <string>{267,93}</string>
            </dict>
            <key>UI_FXAN_bangzhu_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,738},{265,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{265,91}}</string>
                <key>sourceSize</key>
                <string>{267,93}</string>
            </dict>
            <key>UI_FXAN_bangzhu_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,527},{261,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{261,87}}</string>
                <key>sourceSize</key>
                <string>{267,93}</string>
            </dict>
            <key>UI_FXAN_bangzhu_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1005},{265,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{265,91}}</string>
                <key>sourceSize</key>
                <string>{267,93}</string>
            </dict>
            <key>UI_MSZ_huosheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1271},{94,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,49}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>UI_MSZ_yxbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1},{393,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,134}}</string>
                <key>sourceSize</key>
                <string>{393,134}</string>
            </dict>
            <key>img_helpTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,793},{439,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,77}}</string>
                <key>sourceSize</key>
                <string>{439,77}</string>
            </dict>
            <key>win10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,793},{340,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{340,136}}</string>
                <key>sourceSize</key>
                <string>{340,264}</string>
            </dict>
            <key>win11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1135},{326,134}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,63},{326,134}}</string>
                <key>sourceSize</key>
                <string>{340,264}</string>
            </dict>
            <key>win12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,527},{276,264}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{276,264}}</string>
                <key>sourceSize</key>
                <string>{340,264}</string>
            </dict>
            <key>win7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,793},{340,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,93},{340,80}}</string>
                <key>sourceSize</key>
                <string>{340,264}</string>
            </dict>
            <key>win8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,790},{340,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,93},{340,80}}</string>
                <key>sourceSize</key>
                <string>{340,264}</string>
            </dict>
            <key>win9.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,396},{340,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{340,136}}</string>
                <key>sourceSize</key>
                <string>{340,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{505,1359}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c31ba252da54b1c2c1e3df6aea3e038b:9b913c8a518a82ba2d36a46ac79de8f5:b748d28db2ead7fdbe4aa6481e4be26c$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
